# Dependencies
# Bỏ qua thư mục chứa các gói đã cài đặt
/node_modules

# Environment variables
# Không bao giờ đưa các file biến môi trường chứa thông tin nhạy cảm lên Git
.env

# Logs
# Bỏ qua các file log
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*



# Build output (Tùy chọn)
# Nếu dự án của bạn có bước build ra thư mục dist hoặc build
# /dist
# /build

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
node_modules
